#admin-menu a.introductions {
    background-image: url(../images/slideshow.png);
}

.label_step_priority {
    float: right;
    font-size: 40px;
    color: #CCCCCC;
    margin: 15px 0 0 0;
    height: 28px;
    text-align: center;
    width: 64px;
    cursor: default;
}
.drag_arrows{
    margin-top: 10px;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.ui-state-default a, .ui-state-default a:link.remove_fields{
    color: #999999;
}

.ui-state-default .hint{
    font-weight: normal;
    color: #505050;
}

a.btn-replay{
    background: #cccccc;
    background-image: -webkit-linear-gradient(top, #cccccc, #aaaaaa);
    background-image: -moz-linear-gradient(top, #cccccc, #aaaaaa);
    background-image: -ms-linear-gradient(top, #cccccc, #aaaaaa);
    background-image: -o-linear-gradient(top, #cccccc, #aaaaaa);
    background-image: linear-gradient(to bottom, #cccccc, #aaaaaa);
    margin-right: 10px;
}
a.btn-leave{
    background: #9CC90E;
    background-image: -webkit-linear-gradient(top, #9CC90E, #6CA30A);
    background-image: -moz-linear-gradient(top, #9CC90E, #6CA30A);
    background-image: -ms-linear-gradient(top, #9CC90E, #6CA30A);
    background-image: -o-linear-gradient(top, #9CC90E, #6CA30A);
    background-image: linear-gradient(to bottom, #9CC90E, #6CA30A);
}

a.btn-replay, a.btn-leave{
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

a.btn-replay img, a.btn-leave img{
    margin: 0 10px -5px -3px;
}

a.btn-replay:hover, a.btn-leave:hover {
    text-decoration: none;
}

.submitLink {
    background-color: transparent;
    text-decoration: underline;
    color: lightslategray;
    border: none;
    cursor: pointer;
}

#introduction_form .introduction_step_text{
    height: 70px;
    width: 618px;
}

.introjs-alwaysSkipButton {
    margin-left: 5px;
    background: transparent;
    text-shadow: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: #169;
}
.introjs-alwaysSkipButton:hover,
.introjs-alwaysSkipButton:focus,
.introjs-alwaysSkipButton:active {
    border-color: transparent;
    text-decoration: underline;
    box-shadow: none;
    background: transparent;
}

.introjs-alwaysSkipButton.alwaysSkip{
    font-size: 10px;
    padding: 0;
    padding-top: 4px;
}

.introjs-replay {
    margin-right: 0;
    margin-top: 0;
    padding: 0.3em 0.5em;
    -webkit-border-radius: 0 0.2em 0.2em 0;
    -moz-border-radius: 0 0.2em 0.2em 0;
    border-radius: 0 0.2em 0.2em 0;
    min-height: 14px;
}
.introjs-replay img{
    margin-bottom: -1px;
    margin-right: 5px;
}
.introjs-quit,
.introjs-quit:focus,
.introjs-quit:active{
    background-color: #9CC90E;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9CC90E), to(#79B51C));
    background-image: -moz-linear-gradient(#9CC90E, #79B51C);
    background-image: -o-linear-gradient(#9CC90E, #79B51C);
    background-image: linear-gradient(#9CC90E, #79B51C);
    color: white;
    text-shadow: none;
    border: 1px solid #999999;
    margin-top: 0px;
    float: left;
}
.introjs-quit:hover {
    border-color: #909090;
    text-decoration: none;
    box-shadow: 0px 1px 1px #dddddd;
}

.skipbutton_container_left{
    margin-top: 10px;
    margin-bottom: 0;
    float:left;
}

.skipbutton_container_right{
    margin-top: 5px;
    margin-bottom: 0;
    float:right;
}

.closebutton_container{
    margin-top: 12px;margin-bottom: 3px;float:right;
}

.replay_button_container{
    float: right;
    margin-top: 10px;
}

.permanent_tag{
    color: darkgrey;
}

.tooltipDelayIntro{
  background-color: transparent;
  color: darkgrey;
  font-size: 10px;
  padding: 5px;
  float: left;
}
